@model SurfsUp.Models.Board

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Board</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input name="Length" value="@Model.Length" class="form-control dotControl" type="text" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input name="Width" value="@Model.Width" class="form-control dotControl" type="text" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thickness" class="control-label"></label>
                <input name="Thickness" value="@Model.Thickness" class="form-control dotControl" type="text" />
                <span asp-validation-for="Thickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input name="Volume" value="@Model.Volume" class="form-control dotControl" type="text" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-groupe">
                <label asp-for="Type" class="control-label"></label>
                <select name="Type" asp-items="Html.GetEnumSelectList<TypeEnum>()" >
                    <option selected="selected" value="">Vælg type</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input name="Price" value="@Model.Price" class="form-control dotControl" type="text" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment" class="control-label"></label>
                <input asp-for="Equipment" class="form-control" />
                <span asp-validation-for="Equipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <dl>
                    <dt>
                        <label>Images</label>
                    </dt>
                    <dd>
                        <input name="attachments" type="file" multiple>
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script src="~/js/decimalFixCreate.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
