@model SurfsUp.Models.Board

@{
    ViewData["Title"] = "Details";
    <link rel="DetailsStyleSheet" href="DetailsStyleSheet.css" />
}

<h1>Details</h1>

<div>
    <h4>Board</h4>
    <hr />
    <div style="float: left; width: 650px;">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Length)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Length)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Width)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Width)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Thickness)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Thickness)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Volume)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Volume)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Equipment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Equipment)
            </dd>
        </dl>
        <div style="float: left;">

            @if(User.Identity.IsAuthenticated)
            {
                <a asp-action="Create" asp-controller="Rentings" asp-route-boardId="@Model?.Id">Rent</a>
            }

        @if (Context.User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
 
        }

            <a asp-action="Index">Back to List</a>
        </div>

    </div>
    <div class="BoardImg" style="float: left; height: 350px; width: 500px">

        

        @if (Model.Attachments != null)
        {
            @foreach (IFormFile file in Model.Attachments)
            {
                <img alt="test" style="float:left; height: 200px; width: 200px" src="@($"/Images/{Model.Id}/" + file.FileName)" />
            }
        }

    </div>

</div>

