@model SurfsUpClassLibrary.Models.Board

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Board</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RowVersion" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input name="Length" value="@Model.Length" class="form-control dotControl" type="text" />
                <span id="editPriceError" asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input name="Width" value="@Model.Width" class="form-control dotControl" type="text" />
                <span id="editPriceError" asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thickness" class="control-label"></label>
                <input name="Thickness" value="@Model.Thickness" class="form-control dotControl" type="text" />
                <span id="editPriceError" asp-validation-for="Thickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input name="Volume" value="@Model.Volume" class="form-control dotControl" type="text" />
                <span id="editPriceError" asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-groupe">
                <label asp-for="Type" class="control-label"></label>
                <select name="Type" asp-items="Html.GetEnumSelectList<TypeEnum>()">
                    <option selected="selected" value="@Model.Type">@Model.Type.ToString()</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input name="Price" class="form-control dotControl" value="@Model.Price" type="text" />
                <span id="editPriceError" asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment" class="control-label"></label>
                <input asp-for="Equipment" class="form-control" />
                <span asp-validation-for="Equipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <dl>
                    <dt>
                        <label>Images</label>
                    </dt>
                    <dd>
                        <input name="attachments" type="file" multiple>
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="BoardImg" style="float: left; height: 350px; width: 500px">

        @if(Model.Images != null)
        {
            @foreach (Image image in Model.Images)
            {
                <img href="" style="float:left; height: 200px; width: 200px" src="@image.Path" />
                // Sletter et enkelt billede i Images Controlleren
                <form asp-controller="Images" asp-route-boardId="@Model.Id" asp-route-id="@image.Id" asp-action="Delete">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                
            }
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/decimalFixEdit.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
