@model PaginatedList<SurfsUp.Models.Board>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if(Context.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}


<form asp-action="Index" method="get">
    <div>
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" style="float: left; margin-right:10px" />
        <input type="submit" value="Search" />

        <select id="selectedProperty" name="selectedProperty" class="form-control" style="height:30px; width:200px; float: left; font-size:12px; font-weight:500; text-align:center; border-color:black; margin-right:10px">
            <option value="">-- Select a property --</option>
            @foreach (var property in (SelectList)ViewBag.PropertyList)
            {
                <option value="@property.Value">@property.Text</option>
            }
        </select>
    </div>
    <div>
        <a asp-action="Index"> Reset </a>
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                   asp-route-searchString="@ViewData["CurrentFilter"]">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LengthSortParm"]"
                   asp-route-searchString="@ViewData["CurrentFilter"]"> Length</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["WidthSortParm"]"
                   asp-route-searchString="@ViewData["CurrentFilter"]"> Width</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ThicknessSortParm"]"
                   asp-route-searchString="@ViewData["CurrentFilter"]"> Thickness</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]"
                   asp-route-searchString="@ViewData["CurrentFilter"]"> Type</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VolumeSortParm"]"
                   asp-route-searchString="@ViewData["CurrentFilter"]"> Volume</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]"
                   asp-route-searchString="@ViewData["CurrentFilter"]"> Price</a>
            </th>
            <th>
                Equipment
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thickness)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipment)
                </td>

                <td>
                    @if (Context.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (Context.User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
